
@{
    ViewData["Title"] = "ForgetPassword";
}

@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial");
}

@model ForgetPasswordViewModel



<div class="row">
    <div class="col-md-4 offset-md-4">
    <h1 class="text-center">Reset Password</h1>
    <hr />
        @if (TempData["SucceedMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["SucceedMessage"]
            </div>
        }
    <div>
        <div class="alert alert-info">Password renewal link will be sent to your e-mail address.</div>
        <hr />

        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
        </div>

        <form method="post">
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input class="form-control" asp-for="Email">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
    </div>
</div>