
@{
    ViewData["Title"] = "ResetPassword";
}

@model ResetPasswordViewModel


<div class="row">
    <div class="col-md-4 offset-md-4">
        <h1 class="text-center">Update Password</h1>
        <hr />

        @if (TempData["SucceedMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["SucceedMessage"]
            </div>
        }

        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
        </div>

        <form asp-controller="home" asp-action="ResetPassword" method="post">
            <div class="mb-3">
                <label for="Password" class="form-label" asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" placeholder="Enter your new password...">
                <span class="text-danger" asp-validation-for="NewPassword"></span>
            </div>
            <div class="mb-3">
                <label for="NewPasswordConfirm" class="form-label" asp-for="NewPasswordConfirm"></label>
                <input asp-for="NewPasswordConfirm" class="form-control" placeholder="Enter your new password again...">
                <span class="text-danger" asp-validation-for="NewPasswordConfirm"></span>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary float-end">Update Password</button>
            </div>

        </form>
    </div>
</div>

