
@{
    ViewData["Title"] = "SignIn";
}
<script>
    $(document).ready(function(){
        $('[data-bs-toggle="tooltip"]').tooltip(); // Tooltip'i başlat
    });
</script>

@model SignInViewModel

@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial");
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h1 class="text-center">Login</h1>
        <hr />

        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
        </div>

        <form asp-controller="Home" asp-action="SignIn" asp-route-returnUrl="@Context.Request.Query["returnUrl"]" method="post">
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input class="form-control" asp-for="Email" placeholder="Enter your email information...">
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input class="form-control" asp-for="Password" placeholder="Enter your password...">
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="mb-3 form-check">
                <div class="row">
                    <div class="col-md-6" style="margin-top : 6px">
                        <input type="checkbox" class="form-check-input" asp-for="RememberMe">
                        <label class="form-check-label" asp-for="RememberMe"></label>
                    </div>
                    <div class="col-md-6">
                        <a class="btn  float-end" asp-controller="Home" asp-action="ForgetPassword"><i class="bi bi-fingerprint me-1"></i>Forgot Password?</a>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <br />

        <h6 class="text-center">You can login with social accounts!</h6>
        <hr />
        <div class="d-flex justify-content-center mt-4">
            <div class="col-2">
                <div class="square">
                    <a  asp-action="FacebookLogin" class="btn"><img src="/systemPictures/facebook.png" alt="facebook" class="img-fluid " style="border-radius:5px" ></a>
                </div>
            </div>
            <div class="col-2">
                <div class="square">
                    <a  asp-action="GoogleLogin" class="btn"><img src="~/systemPictures/google.jpeg" alt="google" class="img-fluid"></a>
                </div>
            </div>
             <!-- Microsoft login disabled-->
               <div class="col-2">
                  <div class="square">
                    <a href="#" class="btn"><img src="~/systemPictures/Microsoft.jpeg" alt="microsoft" class="img-fluid" style="opacity: 0.2;" data-bs-toggle="tooltip" title="Sorry, sign in with microsoft is temporarily closed."></a>
                  </div>
              </div>

        </div>
    </div>
</div>
