@{
    ViewData["Title"] = "SignUp";
}

@model SignUpViewModel

@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial");
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h1 class="text-center">Register</h1>
        <hr />

        @if (TempData["SucceedMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["SucceedMessage"]
            </div>
        }

        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
        </div>
        
        <form asp-controller="home" asp-action="SignUp" method="post">
            <div class="mb-3">
                <label for="UserName" class="form-label" asp-for="UserName"></label>

                    <input asp-for="UserName" class="form-control" placeholder="Enter your username...">
                    <span class="text-danger" asp-validation-for="UserName"></span>

            </div>

            <div class="mb-3">
                <label for="Email" class="form-label" asp-for="Email"></label>

                <input asp-for="Email" class="form-control" placeholder="Enter your email information">
                    <span class="text-danger" asp-validation-for="Email"></span>

            </div>

            <div class="mb-3">
                <label for="Phone" class="form-label" asp-for="Phone"></label>

                <input asp-for="Phone" class="form-control" placeholder="Enter your phone number...">
                    <span class="text-danger" asp-validation-for="Phone"></span>

            </div>

            <div class="mb-3">
                <label for="Password" class="form-label" asp-for="Password"></label>

                <input asp-for="Password" class="form-control" placeholder="Enter your password...">
                    <span class="text-danger" asp-validation-for="Password"></span>

            </div>

            <div class="mb-3">
                <label for="PasswordConfirm" class="form-label" asp-for="PasswordConfirm"></label>

                <input asp-for="PasswordConfirm" class="form-control" placeholder="Enter your password again...">
                    <span class="text-danger" asp-validation-for="PasswordConfirm"></span>

            </div>
            <div class="mb-3">
                    <button type="submit" class="btn btn-primary float-end">Register</button>
            </div>

        </form>
    </div>
</div>


