@if (User.Identity!.IsAuthenticated)
{
    <ul class="navbar nav me-0 ">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-black-50" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Welcome, @User.Identity.Name
            </a>
            <ul class="dropdown-menu" style="margin-left :40px">
                <li><a class="dropdown-item" asp-controller="Member" asp-action="Index">Profile</a></li>
                <li><a class="dropdown-item" asp-controller="Member" asp-action="PasswordChange">Update Password</a></li>
                <li><a class="dropdown-item" asp-route-returnUrl ="/Home/Index" asp-controller="Member" asp-action="Logout">Logout</a></li>
            </ul>
        </li>

    </ul>
}
else
{
    <a class="btn btn-outline-success mx-1" asp-controller="Home" asp-action="SignIn">Login</a>
    <a class="btn btn-outline-success" asp-controller="Home" asp-action="SignUp">Register</a>
}