@{
    ViewData["Title"] = "TwoFactorWithAuthenticator";
}

@model AuthenticatorViewModel

@section Scripts
{
    <script type="text/javascript">
        var uri = "@Model.AuthenticatorUri";
        new QRCode(document.getElementById("qrcode"), {
            text: uri,
            width: 150,
            height: 150,
            correctLevel: QRCode.CorrectLevel.H
        });
    </script>
}


<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2 class="text-center">Microsoft/Google Authentication</h2>
        <hr />
        <div class="container">
            <div class="alert alert-info">
                1.Step: Scan the barcode below using the "Google/Microsoft Authenticator" app on your phone, or enter the code below on your phone.
            </div>
            <hr />

            <div id="qrcode" class="col-md-8 offset-md-4"></div>
            <div class="mt-2" style="margin-inline-start:90px">
            <strong class="text-danger">Key: </strong><strong class="text-primary">@Model.SharedKey</strong>
            </div>

            <div class="alert alert-info mt-3">
                2.Step: Enter the code from your phone in the field below.
            </div>
            <form action="TwoFactorWithAuthenticator" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="mb-1" asp-for="VerificationCode"></label>
                    <input asp-for=VerificationCode class="form-control" />
                    <span asp-validation-for="VerificationCode" class=""></span>

                    <input type="hidden" asp-for="AuthenticatorUri" />
                    <input type="hidden" asp-for="SharedKey" />
                </div>
                <input type="submit" value="Activate Authentication" class="btn btn-primary mt-3 float-end" />
            </form>
        </div>

    </div>
</div>

